

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --sidebar-width: 250px;
    --second-bg: #f1f1f1;
    --main-color: rgb(46, 49, 146);
    --hover-bg: rgb(184, 187, 255);
    --border-color: #EAEAEA;
    --text-second-color: white;
    --text-main-color: #000;

}

body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
.page-limit {
    margin: 0 auto;
    width: 1280px;
}

.card {
    --padding: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;

}

.card__header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 1px solid var(--border-color);
    padding: var(--padding);

}

.card__body {
    padding: var(--padding);
}

.card__footer {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 1px solid var(--border-color);
    padding: var(--padding);

}
