body {
    background-image: url('../users/connectivity.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

#SignIn_Area {
    display: flex;
    padding-top: 15vh;
    justify-content: center;
}

#SignIn, #Logo {
    display: inline-block;
    flex-wrap: wrap;
    width: 30vw;
    height: 66.7vh;
    background-color: white;
}

#SignIn {
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
}

#Xinchao {
    font-size: 30px;
    font-weight: bold;
    padding: 1.7vh 0 0 3vw;
    margin-bottom: 7.5vh;
}

.InputBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
    padding: 0 3vw 0 3vw;
}

label {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 1vh;
}

input {
    padding-left: 1.5vw;
    font-size: 15px;
    border-width: 0;
    border-bottom-width: 0.3vh;
    border-color: #1A2E73;
    /* //height: 6vh; */
}

input:focus {
    border-bottom-width: 0vh;
}

#submitButton {
    background-color: #1A2E73;
    color: white;
    font-size: 17px;
    border-radius: 17px;
    border: none;
    width: 10vw;
    height: 5vh;
}

#ButtonBlock {
    margin-top: 8vh;
    padding-left: 10vw;
}

#Logo {
    background-color: rgba(255,255,255,0.85);
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0 20px 20px 0;
}

#Logo_img {
    width: 50%;
    height: auto;
}

#AppName {
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    line-height: 35px;
}