#profile {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    max-width: 648px;
    min-width: 648px;
}

#mainPanel {
    margin-right: 0.5rem;
}

@media screen and (max-width: 739px) {
    #mainPanel {
        display: block;
    }
}

@media (min-width: 740px) {
    #mainPanel {
        display: flex;
        justify-content: center;
    }
}