.sidebar {
    width: var(--sidebar-width);
    min-height: 100vh;
    /* overflow-y: auto; */
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sidebar__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar__logo img{
    max-width: 100%;

}

.sidebar__menu {

}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease;
    font-size: 1.2rem;

}
.menu__item + .menu__item {
    margin-top: 0.5rem;
}
.menu__item:not(.menu__item__active):hover {
    background-color: var(--hover-bg);
}
.menu__item__active {
    background-color: var(--main-color);
    color: var(--text-second-color);
}

.menu__item i {
    font-size: 2rem;
    flex-shrink: 0;
    font-weight: 570;
}
.menu__item span {
    padding-left: 0.5rem;
    flex-grow: 1;
}

@media screen and (max-width: 1279px) {
    :root {
        --sidebar-width: 75px;

    }
    .menu__item {
        position: relative;
    }

    .menu__item span {
        display: none;
    }
}
